*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cafe{
    display: grid;
    gap: 10px;
}

#cabecalho.desktop{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 0.5fr  1fr;
    place-items: center center;
}
#cabecalho.moblie{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 0.5fr  1fr;
    place-items: center center;
}
#logo h1{
    color: yellow;
}
#menu {
    background-color: rgb(162, 93, 226);
    border-top: 2px solid rgb(132, 0, 255);

    width: 100%;
    


}
#itens{
    display: grid;

    grid-template-columns: 1fr;

    place-items: center end;
}

#itens ul{
    list-style: none;

    display: flex;
    gap: 10px;

    flex-wrap: wrap;
    place-items: center center;
}

#itens ul li {
    padding: 10px;
    

}
#itens ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#itens ul li a:hover{
    cursor: pointer;
    background-color: rgb(178, 138, 218);
    padding: 5px;
    border-radius: 10px;
    
}

.conteudo{
    display: grid;

    padding: 10px;
    grid-template-columns: 1fr 1fr;

    gap: 10px;

    place-items: center center;
}

.texto h2{
    color: rgb(204, 173, 1);

    padding: 10px 0px;
}


@media(max-width: 600px){
    #cabecalho.desktop{
        grid-template-columns: 1fr;
        display: none;
    }
    #cabecalho.moblie{
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    #itens{
        place-items: center center;
    }
    #itens ul{
        flex-direction: column;
    }
    .conteudo{
        grid-template-columns: 1fr;
    }
    .foto figure img{
        width: 300px;
        order: 1;
    }
    .texto{
        order: 2;
    }
    
}
